<h1>Task List</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.title %>
      <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-sm btn-secondary' %>
    </li>
  <% end %>
</ul>

<%= link_to '+ Add a new task', new_task_path, class: 'btn btn-primary' %>
